<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392911829696-dnan608o5cfneclh8h4akh3f8bvcq7ia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392911829696-dnan608o5cfneclh8h4akh3f8bvcq7ia</string>
	<key>API_KEY</key>
	<string>AIzaSyBbcbM-3cz_UgXyi9oUCmdHfKt0fx_pAaA</string>
	<key>GCM_SENDER_ID</key>
	<string>392911829696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appFtTmart</string>
	<key>PROJECT_ID</key>
	<string>apptmart-9ff47</string>
	<key>STORAGE_BUCKET</key>
	<string>apptmart-9ff47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392911829696:ios:435233d41e5c8d3e744b25</string>
</dict>
</plist>